@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  height: 100%;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari 和 Chrome */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE 和 Edge */
  scrollbar-width: none; /* Firefox */
}
